<!DOCTYPE html>
<html>
  <head>
    <title>アルバムレビュー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="header-logo"><a href="/">iReviews</a></h1>
      <%= form_tag('/', method: :get) do %>
        <input class="search-engine" name="keyword" placeholder="検索" type="text" value=""><button class="serach-btn" title="検索" type="submit"><i class="icon-search"></i></button></input>
      <% end %>
      <% if user_signed_in? %>
        <div class="header_menu">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a href="#">マイページ</a>
          <a href="#">レビューを書く</a>
        </div>
      <% else %>
        <div class="header_menu">
          <%= link_to "会員登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        </div>
      <% end %>
    </header>
    
    <div class="side-menu"></div>
    
    <div class="contents">
      <%= yield %>
    </div>
    
    <footer></footer>
  </body>
</html>
