<!DOCTYPE html>
<html>
  <head>
    <title>iReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <h1 class="header-logo"><a href="/">iReviews</a></h1>
        <div class="header-item">
          <%= form_tag("/artists", method: :get) do %>
            <input class="search-engine" name="keyword" placeholder="アーティスト名で検索できます" type="text" value="">
            <button class="search-btn" title="検索" type="submit"><i class="fa fa-search"></i></button>
          <% end %>
          <% if user_signed_in? %>
            <div class="header-menu">
              <p>ログインユーザー：<a class="header-nickname" href="<%= "/users/#{current_user.id}" %>"><%= current_user.nickname %></a></p>
              <button class="header-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
              <button class="header-btn"><a href="/artists/new">レビューを書く</a></button>
            </div>
          <% else %>
            <div class="header-menu">
              <button class="header-btn"><%= link_to "ログイン", new_user_session_path %></button>
              <button class="header-btn"><%= link_to "新規会員登録", new_user_registration_path %></button>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    
      <%= yield %>
      
  </body>
</html>
